<section id="showcase">
<div class="container">

<h1>             BROWSE OUR CLASSES           </h1>

<hr>
<br>

<% @run_sessions.each do |run_session| %>
    <li> <%= link_to run_session.name, run_session_path(run_session) %> </li>
<%end%>

</section>
</div>

<br>