<section id="showcase">
<div class="container">
        <h1>             DISCOVER YOUR BOLT             </h1>

        <hr>
        <br>

        <% @run_classes.each do |run_class| %>
            <li> <%= link_to run_class.name, run_class_path(run_class) %> </li>
        <%end%>

</section>
</div>

<br>