<h1> BOLT CLASSES </h1>
<hr>
<br>

level: <%= @run_class.level %>
<br>
<br>
instructor: <%= @run_class.instructor %>
<br>
<br>
phone: <%= @gym.phone %>
<br>
<br>
indoor or outdoor: <%= @gym.indoor_or_outdoor %>
<br>
<br>
<%end%>    