<section id="showcase">
<div class="container">

<h1> Membership Options </h1>
<hr>

<ul>

    <li> <h2> Package 1 </h2> </li>
    <li> <h2> Package 2 </h2> </li>
    <li> <h2> Package 3 </h2> </li>

</ul>

</section>
</div>

<br>
