<section id="showcase">
<div class="container">

<h1> MEMBERSHIP OPTIONS </h1>
<hr>

<div class="row noMargin">
  <div class="one">
    <h2> Bolt Premier </h2>
    <hr> 
    <h3> Unlimited classes </h3>
    <h3> Reduced rate for family members </h3> 
  </div>
  <div class="two">
    <h2> Bolt Elite </h2>
    <hr> 
    <h3> 10 classes / month </h3>
    <h3> Any additional class at reduced rate </h3> 
  </div>
</div>
<div class="row noMargin">
  <div class="three">
    <h2> Bolt Basic </h2>
    <hr> 
    <h3> 5 classes / month </h3>
    <h3> Free guest for 2 classes </h3> 
  </div>
  <div class="four">
    <h2> Bolt Flex </h2>
    <hr> 
    <h3> Pay as you go </h3>
    <h3> Reduced rate for guests </h3> 
  </div>
</div>

</section>
</div>

<br>
