<section id="showcase">
<div class="container">

<h1> TRAINING OPTIONS </h1>
<hr>

<ul>

    <li> <h2> Option 1 </h2> </li>
    <li> <h2> Option 2 </h2> </li>
    <li> <h2> Option 3 </h2> </li>

</ul>

</section>
</div>

<br>