<h1> Location </h1>
<hr>
<br>

location: <%= @gym.location %>
<br>
<br>
email: <%= @gym.email %>
<br>
<br>
phone: <%= @gym.phone %>
<br>
<br>
indoor or outdoor: <%= @gym.indoor_or_outdoor %>
<br>
<br>
   