<section id="showcase">
    <div class="container">

<h1> Location </h1>
<hr>
<br>
</div>
</section>

<div class="container">
<section id="main">

Location: <%= @gym.location %>
<br>
<br>
Email: <%= @gym.email %>
<br>
<br>
Phone: <%= @gym.phone %>
<br>
<br>

</section>
</div>

<br>
   