/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{
     background-color:#f4f4f4;
     color:#555;
     font-family:Arial,Helvetica, sans-serif;
     font-size:16px;
     line-height:1.6em;
     margin:0;
 }

 .container{
     width:80%;
     margin:auto;
     overflow:hidden;
 }

 #main-header{
     background-color:rgb(246, 254, 0);
     color:rgb(246, 254, 0);
 }

 #navbar{
     background-color:#333;
     color:#fff;
 }

 #navbar ul{
     padding: 0;
     list-style: none;
 }

 #navbar li{
     display:inline;
 }

 #navbar a{
     color:#fff;
     text-decoration: none;
     font-size:18px;
     padding-right:15px;
 }

 #main-footer{
     background: #333;
     color:#fff;
     text-align: center;
     padding:20px;
     margin-top:0px;
 }

 @media(max-width:600px){
    #main{
        width:100%;
        float:none;
    }
    #sidebar{
        width:100%;
        float:none;
    }

 }

 .container img {
     float:left;
     width: 200px;
     height: 70px;
     overflow: hidden;

     
 }

